#postDropdown {
    color: whitesmoke;
    border: 1px $fb-blue solid;
    border-radius: 25px;
    
}

#postDropDiv {
    position: relative;
    margin-left: 300px;
}

#postElli {
    position: absolute;
    left: 25%;
    top: 13%;
    opacity: 80%;
    pointer-events: none;
}

.author {
    display: flex;
    justify-content: space-evenly;
}

.dropdownItem {
    padding: 2.5px;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
}

.dropdownItems {
    background-color: white;
    border: 1px solid #cacdd3;
    border-radius: 2px;
    padding: 5px;
    box-sizing: border-box;
}