#postDropdown {
    color: whitesmoke;
    border: 1px $fb-blue solid;
    border-radius: 25px;
    
}

#postDropDiv {
    position: relative;
    margin-left: 300px;
}

#postElli {
    position: absolute;
    left: 25%;
    top: 13%;
    opacity: 80%;
    pointer-events: none;
}

.author {
    display: flex;
    justify-content: space-evenly;
}