.bar-element {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    margin-top: 3px;
  
}

.bar-user {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
}

.bar-user > * {
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    box-sizing: content-box;
    padding: 5px;
    margin-bottom: 5px;
    font-size: 14px;
    color: #333333;
}

.feed {
    height: max-content;
}

.feed-avatar {
    border-radius: 50%;
    width: 14px;
    height: 14px;
    background-image: image_url('turtle.png');
    background-size: cover;
}

.feedContent {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin-top: 5px;
    box-sizing: content-box;
    padding: 10px;
}

.icon-bar {
    font-size: 21px;
    margin: 5%;
}

.news-bar-anchor{
    display: flex;  
    text-decoration: none;
    align-items: center;
}

.news-bar-element {
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    font-size: 14px;
    color: black;
    cursor: pointer;
    padding: 2px;
}

.news-bar-element:hover {
    border: 1px solid #979797; 
    background-color: rgb(253, 253, 253);
    border-radius: 5px;
}

.side-bar {
    margin-right: 3%;
}

.sideBarUser {
     font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    box-sizing: content-box;
    font-size: 14px;
    color: black;
    cursor: pointer;
    padding: 2px;
}



