.banner10avatar {
    top: 150px;
    left: 30px;
    padding: 5px;
    position: absolute;
    border-radius: 50%;
    width: 168px;
    height: 168px;
    background-image: image_url('turtle.png');
    background-size: cover;
}

.banner10image {
    position: relative;
    background-image: image_url('sea.png');
    background-size: contain;
    width: 100%;
    height: 315px;
}