.note {
    margin: 10px;
    margin-left: -5px;
}

.noteLink {
    display: flex;
    justify-content: space-evenly;
    margin: 5px;
}

.noteName {
    margin: 5px;
}

.notifications {
    position: absolute;
    top: 37px;
    left: 933px;
    cursor: pointer;
    background-color: white;
    border: 1px solid #cacdd3;
    padding: 15px;
    margin: -1px;
    box-sizing: border-box;
    border-radius: 2px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
}

.notification {
    display: flex;
    justify-content: start;
}

