.note {
    margin: 10px;
    margin-left: -5px;
}


.noteLink {
    display: flex;
    justify-content: space-evenly;
    margin: 5px;
    color: black;
}

.noteName {
    margin: 5px;
    
}

.notifications {
    cursor: pointer;
    background-color: white;
    border: 1px solid #cacdd3;
    padding: 15px;
    margin: -1px;
    box-sizing: border-box;
    border-radius: 2px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
    z-index: 1000;
    max-width: max-content;
    max-height: min-content;
}

.notificationsClosed {
    top: 90%;
    cursor: pointer;
    background-color: white;
    border: 1px solid #cacdd3;
    padding: 15px;
    margin: -1px;
    box-sizing: border-box;
    border-radius: 2px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
    opacity: 0%;
}

.notification {
    display: flex;
    justify-content: start;
}

.notifParent {
    position:absolute;
    width: 300px;
    z-index: 1000;
    top: 7%;
    left: 65%;
    width:max-content;
}

@media screen and (max-width: 420px) {
    .notifParent {
        top: 3.5%;
    }
}

@media screen and (max-width: 767px) {
    .notifParent {
        top: 2.5%;
    }
}

@media screen and (max-width: 1023px) {
    .notifParent {
        top: 6.5%;
    }
}

@media screen and (max-width: 1365px) {
    .notifParent {
        top: 6.5%;
    }
}

@media screen and (min-width: 1366px) {
    .notifParent {
        top: 4.2%;
    }
}





