.create-post {
    border: 1px solid #cacdd3;
    
    padding-top: 5px;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 2px;
}

.post-textarea input:focus {
    outline: none;
    border-style: none;
}

.post-textarea input {
    width: 380px;
    height: 48px;
    outline: none;
    
    border-style: none;
}

.form-top {
    display: flex;
    justify-content: start;
    align-items: center;
    background-color: #f5f6f7;
    border-bottom: 1px solid #cacdd3;
    width: 514px;
    height: 33px;
    margin-left: 5px;
}

.form-top > h3 {
    font-size: 12px;
    font-weight: bold;
    color: #333333;
}

.icon-pencil {
    transform: scale(0.8);
}

.icon-camera {
    transform: scale(1.2);
}

.post-forum-separators {
    background: rgba(0, 0, 0, .1);
    display: block;
    height: 16px;
    top: 12px;
    width: 1px;
    border-right: 1px black solid;
    content: '';
    opacity: 25%;
    margin-left: 5px;

}

.photo-button > p {
    margin-left: 3px;
    font-size: 12px;
    font-weight: bold;
    color: $fb-blue;
}

.form-top button {
    background-color: transparent;
    border-style: none;
    height: 30px; 
}



.photo-button {
    display: flex;
    
    align-items: center;
}
.post-area {
    display: flex;
    justify-content: start;
    align-items: center;
    background-color: white;
}

.form-textarea {
    width: 48px;
    height: 34px;
    border: 0;
   
}

.post-avatar {
    border-radius: 50%;
    width: 40px;
    height: 40px;
    background-image: image_url('turtle.png');
    background-size: cover;
    margin:12px; 
}

.form-icon-buttons {
    border-top: 1px solid #cacdd3;
    background-color: white;
    box-sizing: border-box;
    padding-top: 5px;
    padding-bottom: 5px;
    padding: 5px;
    
}

.post-spacing {
    margin-bottom: 12px;
}

.form-icon-buttons > button {
    width: 115px;
    height: 34px; 
    border-radius: 14px;
    border-style: none;
    color:#4b4f56;
    background-color: #f5f6f7;
    margin: 5px; 
}

#submit-post {
    color: $fb-blue;
    border: 1px $fb-blue solid;
}
