.author > a {
    color: $fb-blue;
    text-decoration: none;
    font-weight: bold;
    font-size: 14px;
}

.horizontal-spacing {
    margin-right: 30px;
}

.post-author-separator {
    margin: 5px;
}

.post-body {
    padding: 8px;
    border-bottom: 1px solid #dddfe2;

}

.post-body > p {
    font-size: 14px;
    color: #333333;
}

.post-button {
    opacity: 75%;
    margin-top: 3px;
    margin-left: 50px;
    transform: scale(1.4);
}

.post-date {
    
    font-size: 12px;
    color: #616770;
}

.postEditClick {
    color:black;
}

.post-item {
    box-sizing: border-box;
    border: 1px solid #cacdd3;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 2px;
    background-color: white;
    padding: 10px;
}

.post-item-title{
    display: flex;
    justify-content: start;
    align-items: center;
}

.post-item-icons > button {
    border-style: none;
    background-color: white;
}


.post-item-avatar {
    border-radius: 50%;
    width: 40px;
    height: 40px;
    background-image: image_url('turtle.png');
    background-size: cover;
    margin-left: 8px;
    margin-top: 8px;
    margin-right: 8px;

}

.post-item-icons {
    box-sizing: border-box;
   
    width: 100%;
    display: flex;
    justify-content: start;
   padding-top: 7px;
}

#postDropdown {
    cursor: pointer;
}

