.app {
    height:100%;
    background: #edf0f5;
}

.splash{
    display: block;
    background: #edf0f5;
    height: 100%;
}

.main-session {
    display: flex;
    justify-content: space-evenly;
    width: 80%;
    margin: auto;
    background: #edf0f5;
    height: 100vh;
}

.presentation-top {
   display: block;
   margin-right: 10px;
}

.Signup-top {
    top: 20px;
    left: 20px;
    margin: 20px;
}

.pres-motto > h2 {
    margin-top: 60px;
    font-size: 28px;
    font-weight: 700;
    font-family: 'Open Sans', sans-serif; 
    color: #333333;
    padding-bottom: 10px;
    padding-top: 10px;
}

.signup-invitation > h2 {
    margin-left: 5px;

    font-size: 35px;
    font-weight: 700;
    font-family: 'Open Sans', sans-serif; 
    color: #333333;
    padding-bottom: 10px;
    padding-top: 10px;
}

.signup-invitation > p {
    margin-left: 5px;

    font-size: 20px;
    font-weight: 400;
    font-family: 'Open Sans', sans-serif; 
    color: #333333;
    padding-bottom: 10px;
}

.signup-names {
    display: flex;
    justify-content: center;
}

.signup-names > input {
    display: block;
    box-sizing: border-box;
    border-radius: 5px;
    margin: 5px;
    padding: 10px; 
    border-color: #bdc7d8;
    border: 1px solid #ccd0d5;
    height: 34px;
    width: 180px; 
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
}

.signup-auth {
    display: flex;
    justify-content: center;
}

.signup-auth > input {
    display: block;
    box-sizing: border-box;
    border-radius: 5px;
    margin: 5px;
    padding: 10px; 
    border-color: #bdc7d8;
    border: 1px solid #ccd0d5;
    height: 34px;
    width: 180px; 
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
}

.password > input {

    display: block;
    box-sizing: border-box;
    border-radius: 5px;
    margin: 5px;
    padding: 10px; 
    border-color: #bdc7d8;
    border: 1px solid #ccd0d5;
    height: 34px;
    width: 369px; 
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
}

.bday-selector {
    display: flex;
    flex-direction: column;
}

.bday-selector > label {
    font-family: Arial, Helvetica, sans-serif;
    color: #90949c;
    font-size: 16px;    
    margin: 7px;
    margin-top: 12px;
    font-weight: bold;
    
}

.gender {
    display: flex;
    flex-direction: column;
}

.selectors {
    margin-left: 5px;
    height: 30px;
    
}


.selectors {
    margin-left: 5px;
    
}

.selectors > select {
    border:  1px solid #ccd0d5;
    height: 30px;
    width: 63px;
    font-size: 13px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: white;
}

.gender > label {
    font-family: Arial, Helvetica, sans-serif;
    color: #90949c;
    font-size: 16px;    
    margin: 7px;
    margin-top: 12px;
    font-weight: bold;
}

.gender-radio {
    font-family: Arial, Helvetica, sans-serif;
    padding: 4px;
    left: 5px;
    margin-bottom: 10px;
}

.gender-radio > span {
    margin-right: 15px;
    margin-bottom: 10px;
}



.signup-button {
    background: linear-gradient(#67ae55, #578843);
    border: 1px solid #446644;
    width: 194px;
    height: 39px; 
    border-radius: 5px;
    font-size: 19px;
    font-weight: 700;
    font-family: 'Open Sans', sans-serif;
    color: white;
    box-shadow: inset ;
}

.pres-icons{
    margin-top: 30px;
}
    
.pres-icons > p {
    display: flex;
    align-items: center;
    margin-right: 20px;

    font-size: 16px;
    font-weight: 400;
    font-family: 'Open Sans', sans-serif; 
    color: #333333;
    padding-bottom: 10px;
}

.icon-bold {
    font-weight: 800;
    margin: 5px;
    margin-left: 10px;
}
